
.content-item {
    border: solid 2px #aaa;
}

.message {
    border: solid 2px #999;
    background-color: #f7f7f7;
    orverflow-wrap: break-word;
    word-wrap: break-word;
}

.image_select {
  color: white;  
  background-color: orange;
  padding: 6px;
  border-radius: 12px; 
}
