body {
    margin: 15px;
}

h1, h2 {
    text-align: center;
}

form {
    padding: 8px;
    background-color: #E8EEEA;
}

#text {
    resize: none;
    overflow: hidden;
}

#submitBtn {
    display: none;
}

.head {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    border: 2px solid #90AE98;
}

.title_logo {
    margin: 8px 0px 8px 10px;
    font-size: 1.1em;
}

.board_name {
    margin: 8px 0px 8px 0px;
    font-size: 1.3em;
}

.user_name {
    margin: 8px 10px;
}

#main {
    display: flex;
    justify-content: space-between;
}

#user_info {
    flex: 1;
    align-self: flex-start;
    margin: 10px 10px 0px 30px;
    background-color: #E8EEEA;
    border: 2px solid #90AE98;
}

#message_list {
    flex: 2;
    align-self: stretch;
    margin: 10px 0px 0px 0px;
    border: 2px solid #90AE98;
}

#message_list ul {
    padding: 0px;
}

#message_list p {
    margin: 0px;
}

.message {
    margin: 10px;
    padding: 8px;
    background-color: #E8EEEA;
    border: 2px solid #90AE98;
    border-radius: 5px;
}

#board_info {
    flex: 1;
    align-self: flex-start;
    margin: 10px 30px 0px 10px;
    background-color: #E8EEEA;
    border: 2px solid #90AE98;
}

#board_info ul {
    margin: 0;
    font-size: 1.2em;
}
