h1, h2 {
    text-align: center;
}

form {
    padding: 8px;
    background-color: #E8EEEA;
    border: 2px solid #90AE98;
}

#main {
    display: flex;
    justify-content: center;
}

#board_info {
    flex: 1;
}

#board_info ul {
    font-size: 1.2em;
    background-color: #E8EEEA;
    border: 2px solid #90AE98;
}

#message_list {
    flex: 2;
}

.message {
    background-color: #E8EEEA;
    border: 2px solid #90AE98;
    margin: 5px 0px;
}
