container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python chatsite/manage.py migrate --noinput"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python chatsite/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "chatsite.settings"
    "PYTHONPATH": "/opt/python/current/app/chatsite:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: chatsite/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
