<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ board.board_name }}</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'chats/style.css' %}">
</head>
<body>
    <h1>{{board.board_name}}</h1>

    <form id="messageForm" method="post" action="{% url 'chats:post_message' board.id %}">
        {% csrf_token %}
        <textarea id="text" name="text" cols="30" rows="10"></textarea>
        <button id="submitBtn">送信</button>
    </form>
    <div id="main">
        <div id="board_info">
            <h2>部屋情報</h2>
            <ul>
                <li id="">残り時間 : </li>
                <li id="time_counter">残り時間 : </li>
                <li id="time_counter">経過時間 : </li>
                <li id="login_users_counter">ユーザー数 : </li>
                <li id="message_counter">総発言数 : {{ message_list.count }}</li>
            </ul>
        </div>
        <div id="message_list">
            <h2>タイムライン</h2>
            <ul>
            {% if message_list %}
                {% for message in message_list %}
                <div class='message'>
                    <p>投稿時間 : {{ message.get_formated_pub_date }}</p>
                    <p>メッセージ : {{ message.message }}</p>
                </div>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
</div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="{% static 'chats/main.js' %}"></script>
    <script type="text/javascript">
        var board_id = {{ board.id }};
        var board_pub_date = String('{{ board.get_formated_pub_date }}');
        var profile_id = {{ profile.id }};
        var latest_message_pub_date = String('{{ message_list.0.get_formated_pub_date}}');
        var latest_message_id = String('{{ message_list.0.id }}');
        var message_counter_num = {{ message_list.count }};
    </script>
</body>
</html>
