{% extends "chats/base.html" %}

{% block title %}{{ board.board_name }} || Time Bokan{% endblock %}

{% block style %}{% load static %}<link rel="stylesheet" href="{% static 'chats/board.css' %}">{% endblock %}

{% block account %}
{% if user %}
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ user.username }}
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'twitter:logout' %}" value="Logout">ログアウト</a>
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div id="user_info" class="col m-3 content-item">
            <p>{{ profile.username }}</p>
            <p id="user_vibes">熱量:{{ profile.get_vibes }}</p>
			<div id="gauge-wrapper">
				<div id="gauge" style="width:0%">jastice</div>
			</div>
        </div>
        <div id="message_list" class="col-6 m-3 content-item">
            <form id="messageForm" method="post" action="{% url 'chats:post_message' board.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <textarea id="text" name="text" cols="50" rows="1" placeholder="今の気持は?"></textarea>
                <br>
                <label class="image_select"  for="file">
                    +画像を選択
                    <input type="file" id="file" name="file" accept="image/*" style="display:none;" >
                </label>
                <button id="submitBtn" disabled="true" style="display: none;">送信</button>
            </form>
            <ul class="list-group">
                {% if message_list %}
                {% for message in message_list %}
                <li class="list-group-item my-2 message">
                    <input type="hidden" name="vibes" value="{{ message.vibes }}">
					<input type="hidden" name="hate" value="{{ message.message_hate }}" />
                    <input type="hidden" name="id" value="{{ message.id }}" />
                    <p>{{ message.message | urlize | linebreaksbr }}</p>
					{% if message.image %}
                    <img src="{{ message.image.url }}" class="img-thumbnail">
                    {% endif %}
                </li>
                {% endfor %}
                {% endif %}
            </ul>
        </div>
        <div id="board_info" class="col m-3 content-item">
            <div class="row">
                <ul class="col">
                    <li id="timelimit">残り時間 : </li>
                    <li id="lifespan">寿命 : {{ board.lifespan }}秒</li>
                    <li id="board_pub_date">作成日時 : {{ board.get_display_pub_date }}</li>
                    <li id="login_users_counter">ユーザー数 : </li>
                    <li id="message_counter">総発言数 : {{ message_total }}</li>
                </ul>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static 'chats/main.js' %}"></script>
    <script type="text/javascript">
        var board_id = {{ board.id }};
        var board_pub_date = String('{{ board.get_formated_pub_date }}');
        var board_lifespan = {{ board.lifespan }};
        var profile_id = {{ profile.id }};
        var latest_message_pub_date = String('{{ message_list.0.get_formated_pub_date}}');
        var latest_message_id = String('{{ message_list.0.id }}');
        var message_counter_num = {{ message_list.count }};
        var hates = {};
        var user_vibes = {{ profile.get_vibes }};
    </script>
</div>
{% endblock %}
