{% extends "chats/base.html" %}
    
{% block style %}{% load static %}<link rel="stylesheet" href="{% static 'chats/tomb.css' %}">{% endblock %}

{% block title %}{{ board.board_name }}の跡地 || Time Bokan{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ board.board_name }}の跡地</h1>    
    <div id="comment_list" class="jumbotron">
		<div class="row row-eq-height">
			<div class="col-12 text-center">
				<h2 class="history">歴史</h2>
			</div>
			<div class="col-10 col-offset-1 text-center mx-auto">
				<p class="time_label">{{ board.get_display_pub_date  }} 〜 {{ board.get_display_dead_time }}</p>
			</div> 
			<div class="col-10 col-off-set-1 mx-auto">
			<table class="table mx-auto">
				<tbody>
					<tr>
						<td class="block_size"><h3>参加人数: {{ board.get_board_num }}</h3><img class="img-responsive" src=""></td>
						<td><h3>総発言数: {{ board.get_comment_total }}</h3></td>
					</tr>
					<tr>
						<td><h3>平均ヘイト: {{ board.get_message_hate_average }}</h3></td>
						<td rowspan="2">
							{% if board.get_most_hate_image %}
								<img class="img-responsive" src="{{ board.get_most_hate_image }}">
							{% else %}
								<p>投稿された画像はありません</p>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td><h3>平均熱量: {{ board.get_message_vibe_average }}</h3></td>
					</tr>
				</tbody>
			</table>
			</div>
		</div>
        <ul class="list-group">
            {% if comment_list %}
            {% for comment in comment_list %}
            <div class="comment">
                <li class="list-group-item my-2">{{ comment.message | urlize | linebreaksbr }}</li>
            </div>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
