{% extends "chats/base.html" %}

{% block title %}{{ board.board_name }}の跡地 || Time Bokan{% endblock %}

{% block account %}
{% if user %}
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ user.username }}
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="{% url 'twitter:logout' %}" value="Logout">ログアウト</a>
    </div>
</div>
{% else %}
<li class="nav-item">
    <a class="nav-link btn btn-primary" href="{% url 'twitter:new' %}" value="Create Account" role="button">ユーザー登録</a>
</li>
<li>
    <a class="nav-link btn btn-primary" href="{% url 'twitter:login' %}" value="Login" role="button">ログイン</a>
</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ board.board_name }}の跡地</h1>    

    <div id="comment_list" class="jumbotron">
        <h2>歴史</h2>
        <p>{{ board.get_display_pub_date  }} 〜 {{ board.get_display_dead_time }}</p>
        <ul class="list-group">
            {% if comment_list %}
            {% for comment in comment_list %}
            <div class="comment">
                <li class="list-group-item my-2">コメント: {{ comment.message | linebreaksbr }}</li>
            </div>
            {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
{% endblock %}
